@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&family=Kaushan+Script&family=Ubuntu&display=swap');


span{
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
}

a,a:active,a:focus,a:link{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 3rem;
}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: black;
}

/* ============================================================================= */

.top-line{
  width: 100%;
  height: 3px;
  background-color: black;
}
.page__header{
  margin: 0 auto;
}
.header{
  max-width: 1224px;
  padding-right: 10px;
}
.header span{
  color: green;
}
.header span::first-letter{
  text-transform: capitalize;
}
/* separate position from div */
.inline-manu div {
  position: absolute;
  height: fit-content;
  min-width: fit-content;
  padding: 1rem 1rem 1rem 0.5rem;
  background-color: white;
  border: 1px solid silver;
  display: none;
}
.inline-manu:hover div{
  display: block;
}
.inline-manu__subtitles{
  font-size: 0.8rem;
  line-height: 2rem;
}
.header__login-container{
  text-align: end;
}
.header__sign-container {
  padding: 0.5rem 0.2rem 0rem 0.5rem;
  text-transform: capitalize;
}
.header__sign-link {
  color: #472b2b;
  font-size: 0.8rem;
}
.header__sign-link:hover{
  cursor: pointer;
}
.header-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo__item{
  text-transform:capitalize;
  color: rgba(130, 3, 3, 0.684);
  font-family: 'Kaushan Script', cursive;
  font-size: 5rem;
}
.logo__item::first-letter{
  color: green;
}
.logo__item:hover{
  cursor: pointer;
}
.search-bar-input-area  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  height: 46px;
}
.search-bar{
  height: inherit;
  max-width: 284px;
  width: 284px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar__input {
  border: 1px solid #d8d8d8;
  border-right: none ;
  height: inherit;
  color: rgb(122, 122, 122);
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  outline: none
}
.search-icon  {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #472b2b;
  color: white;
}
.search-icon:hover{
  cursor: pointer;
}
.search-bar{
  padding-left: 1rem; 
}

/* continue BEM checking */
.bucket{
  border: 1px solid #d8d8d8;
  padding: 0.4rem;
  height: inherit;
  max-width: 284px;
  width: 284px;
  display: flex;
  align-items: center;
}

.bucket span {
  padding-left: 1rem;
  padding-right: 8rem;
  color: green;
  font-size: 0.8rem;
  text-transform: capitalize;
}



.main-header-manu{
  border-bottom:  2px solid silver;
  margin-bottom: 1rem;
}

.main-header-manu > ul{
  padding-left: 1.5rem;
}

.main-header-manu > ul >li {
  display: inline-block;
  border-left: 2px solid black;
  padding-left: 1rem;
  margin-left: 0.5rem;
}

.main-section{
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.section-left{
  min-width: fit-content;
  overflow: hidden;
}

.side-manu{
  font-size: 0.8rem;
  /* line-height: 1.5rem; */
}

.side-manu span {
  /* margin-left: 40px; */
  padding: 0.6rem 0 ;
  border-bottom: 2px solid silver;
  width: 100%;
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
}



.side-manu ul li {
  border-left: 2px solid black;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.side-search{
  /* margin-left: 40px; */
  margin-top: 2rem;
}

.side-search span{
  display: block;
  color: black;
  text-transform: capitalize;
  border-bottom: 1px solid silver;
  padding: 0.6rem 0
}

.side-search input{
  display: inline-block;
  width: 70%;
  margin-top: 1rem;
}

.bestseller-list {
  margin-top:  2rem;
}

.bestseller-list span {
  display: block;
  color: black;
  text-transform: capitalize;
  border-bottom: 1px solid silver;
  padding: 0.6rem 0 0.6rem 0;
  margin-left: 2rem;
  
}

ol{
  font-size: 0.8rem;
}


/* ============================================================== */
.section-right{
  width: 100%;
  margin: 0 1.5rem;
  z-index: -1;
}
/* +++++++++++++//////////////++++++++++++++++++ */
/* .slider{
  height: 220px;
  background-color: yellowgreen;
}
.slider img {
  width: 100%;
  height: 100%;
} */
/* ++++++++++++++++////////////////+++++++++++++ */
.new-slider{
  margin:  0 auto;
    height: 220px;
    /* max-width: 500px; */

    position: relative;
    background-color: red;
}

.new-slider img {
  position: absolute;
  height: 100%;
  width: 100%;
  
  object-fit: cover;
}

.new-slider > img:nth-child(1){
  z-index: 1;
}
.new-slider > img:nth-child(2){
  z-index: 0;
}
.new-slider > img:nth-child(3){
  z-index: 0;
}
.fav{
  border-bottom: 1px solid silver;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: black;
}

.fav h3::first-letter{
  text-transform: capitalize;
}

.recommendation{
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  row-gap: 1.5rem;

  margin-bottom: 1.5rem;

  /* background-color: antiquewhite; */
}

.component {
  width: 31%;
  /* background-color: cadetblue; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid silver;
}

.component img {
  margin: 2rem 0 2rem
  
}

.price {
  color: rgba(130, 3, 3, 0.684);
  margin-top: 2rem;
}

.add{
  background-color: rgba(130, 3, 3, 0.684);
  color: white;
  padding: 0.2rem 0.5rem;
  margin-top: 2rem;
}

.add-to-bucket{
  margin-bottom: 2rem;
}

.add-to-bucket * {
  display: inline-block;
}

/* ================================================== */

footer{
  max-width: 1224px;
  margin: 0 auto;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  border-top: 2px solid black;
  padding-top: 2rem;

  /* background-color: lightcyan; */
}

footer span {
  color: black;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 0.9rem;
}

footer div ul{
  margin-left: 0;
  padding-left: 0;

}

.other-info{
  padding-right: 200px;
}

.long-search{
  display: none;
}

.long-searchbar {
  display: none;
}

.icons-manu {
  display: none;
}

/* ============================================ media DESKTOP */
@media only screen and (min-width: 901px) and (max-width: 1020px) {
  .logo {
    text-align: center;
  }
}

@media only screen and (min-width: 666px) and (max-width: 900px) {

  .long-searchbar  {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* column-gap: 1rem; */
    display: block;
    height: 46px;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .long-searchbar__input-area{
  
    height: inherit;
    max-width: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }

  
  .long-searchbar__input {
    border: 1px solid #d8d8d8;
    border-right: none ;
    height: inherit;
    color: rgb(122, 122, 122);
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
  }
  
  .long-searchbar__input:focus{
    outline: none
  }
  
  
  
  .long-searchbar__icon  {
    height: 100%;
    width: 40px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #472b2b;
    color: white;
  }
  
  .long-searchbar__input{
    padding-left: 1rem;
    
  }
  .inline-manu__title{
    font-size: 0.8rem;
  }

  .main-header-manu > ul li:last-child{
    display: none;
  }
}


@media only screen and (max-width: 900px) {
  .search-bar-input-area {
    display: none;
  }
  
  .component{
    min-width: 48%
  }
}

@media only screen and (max-width: 665px) {
  .search-bar-input-area {
    display: none;
  }
  .main-header-manu {
    display: none;
  }

  .icons-manu {
    display: block;
    border-top: 1px solid silver;
    margin: 10px;
  }

  .icons-manu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .icons-manu ul li svg  {
    height: 25px;
    width: 25px;
  }

  .icons-manu ul li:hover{
    cursor: pointer;
  }
.section-left{
  display: none;
}

}

@media only screen and (max-width: 743px) {
  .logo__item {
    font-size: 4rem;
  }

  .slider{
    display: none;
  }

  .recommendation{
    flex-direction: column;
  }

  .component{
    min-width: 100%
  }

  footer{
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
  .other-info{
    padding-right: inherit;
  }
  .my-account{
    margin-left: -1rem;
    padding-left: inherit;
  }
}

@media only screen and (max-width: 485px) {
  .header__login-container{
    text-align: center;
  }


  .header-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 380px) {
  .logo__item {
    font-size: 3rem;
  }
}

