:root{
  --ff-primary:'Ubuntu', sans-serif;
  --ff-logo:'Kaushan Script', cursive;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8rem;
  --fs-400: 0.9rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;
  
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-gray-1000: #000000;

  --v-space-100:0.5rem;
  --v-space-200:1rem;
  --v-space-300:1.5rem;
  --v-space-400:2rem;
  --v-space-500:2.5rem;
  --v-space-600:3rem;
  --v-space-700:3.5rem;
  --v-space-800:3.75rem;
  --v-space-900:4rem;

  --clr-primary:rgb(0, 128, 0);
  --clr-secondary: rgba(130, 3, 3, 0.684);

  --cont-max-w:  min(1224px, 100vw - 1.5rem);
}




span{
  display: inline-block;
  font-family: var(--ff-primary);
}

a,a:active,a:focus,a:link{
  text-decoration: none;
  color: var(--bs-gray-1000);
}

h1{
  font-size: var(--fs-900);
}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: var(--bs-gray-1000);
}

/* ============================================================================= */

.top-line{
  width: 100%;
  height: 3px;
  background-color: var(--bs-gray-1000);
}
.page__header{
  margin-inline: auto; /* works the same as => margin: 0 auto; */
}
.header{
  width: var(--cont-max-w);
  /* padding-right: 10px; */
  position: relative;
  z-index: 1000;
}
.header__sign-link{
  color: var(--clr-primary);
  border-bottom: 0px solid var(--bs-gray-500);

}

.header__sign-link:hover{
  border-bottom: 3px solid var(--bs-gray-500);
  transition: border-bottom 8s;
}
.header__sign-link::first-letter{
  text-transform: capitalize;
}


/* separate position from div */
.inline-manu__item div {
  position: absolute;
  height: fit-content;
  min-width: fit-content;
  padding: 1rem 1rem 1rem 0.5rem;
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-500);
  display: none;
}
.inline-manu__item:hover div{
  display: block;
}
.inline-manu__subtitles{
  font-size: 0.8rem;
  line-height: 2rem;
}
.header__login-container{
  text-align: end;
}
.header__sign-container {
  padding: 0.5rem 0.2rem 0rem 0.5rem;
  text-transform: capitalize;
}
.header__sign-link {
  color: var(--clr-secondary);
  font-size: 0.8rem;
}
.header__sign-link:hover{
  cursor: pointer;
}
.header-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo__item{
  text-transform:capitalize;
  color: var(--clr-secondary);
  font-family: var(--ff-logo);
  font-size: 5rem;
}
.logo__item::first-letter{
  color: var(--clr-primary);
}
.logo__item:hover{
  cursor: pointer;
}
.search-bar-input-area  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  height: 46px;
}
.search-bar{
  height: inherit;
  max-width: 284px;
  width: 284px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar__input {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-right: none ;
  height: inherit;
  padding-left: 1rem;
  color: rgb(122, 122, 122);
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  outline: none
}
.search-icon  {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #472b2b;
  color: white;
}
.search-icon:hover{
  cursor: pointer;
}

.basket{
  border: 1px solid #d8d8d8;
  padding: 0.4rem;
  height: inherit;
  max-width: 284px;
  /* width: 284px; */
  display: flex;
  align-items: center;
}

.basket__contant {
  padding-left: 1rem;
  padding-right: 8rem;
  color: var(--clr-primary);
  font-size: 0.8rem;
  text-transform: capitalize;
}

.header__main-manu{
  margin-top:var(--v-space-200) ;
  margin-bottom: var(--v-space-300);
}

.main-manu{
  border-bottom:  2px solid silver;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.inline-manu__title{
  color: var(--clr-primary);
  text-transform: capitalize;
}

.inline-manu > li {
  display: inline-block;
  border-left: 2px solid var(--bs-gray-1000);
  padding-left: 1rem;
  margin-left: 0.5rem;
}

.main-section{
  /* max-width: 1224px; */
  width: var(--cont-max-w);

  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.section-left{
  min-width: fit-content;
  overflow: hidden;
}

.side-manu{
  font-size: 0.8rem;
  /* line-height: 1.5rem; */
}

.side-manu span {
  /* margin-left: 40px; */
  padding: 0.6rem 0 ;
  border-bottom: 2px solid silver;
  width: 100%;
  color: var(--bs-gray-1000);
  font-size: 1rem;
  text-transform: capitalize;
}



.side-manu ul li {
  border-left: 2px solid var(--bs-gray-1000);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color:var(--clr-primary);
}

.side-search{
  /* margin-left: 40px; */
  margin-top: 2rem;
}

.side-search span{
  display: block;
  color: var(--bs-gray-1000);
  text-transform: capitalize;
  border-bottom: 1px solid silver;
  padding: 0.6rem 0
}

.side-search input{
  display: inline-block;
  width: 70%;
  margin-top: 1rem;
}

.bestseller-list {
  margin-top:  2rem;
}

.bestseller-list span {
  display: block;
  color: var(--bs-gray-1000);
  text-transform: capitalize;
  border-bottom: 1px solid silver;
  padding: 0.6rem 0 0.6rem 0;
}
.bestseller-list li {
  color: var(--clr-primary);
}

ol{
  font-size: 0.8rem;
}


/* ============================================================== */
.section-right{
  width: 100%;
  margin: 0 1.5rem;
}

.new-slider{
  margin:  0 auto;
    height: 220px;
    position: relative;
    background-color: red;
}

 .carousel-item > img {
  height: 220px;  
  object-fit: cover;
}
.fav{
  border-bottom: 1px solid silver;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--bs-gray-1000);
}

.fav h3::first-letter{
  text-transform: capitalize;
}

.recommendation{
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  row-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.component {
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid silver;
}

.component img {
  margin: 2rem 0 2rem
  
}

.price {
  color: rgba(130, 3, 3, 0.684);
  margin-top: 2rem;
}

.add{
  background-color: rgba(130, 3, 3, 0.684);
  color: white;
  padding: 0.2rem 0.5rem;
  margin-top: 2rem;
}

.add-to-bucket{
  margin-bottom: 2rem;
}

.add-to-bucket * {
  display: inline-block;
}

/* ================================================== */

footer{
  width: var(--cont-max-w);
  margin-inline: auto;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  border-top: 2px sovar(--bs-gray-1000);
  padding-top: 2rem;
}

footer span {
  color: var(--bs-gray-1000);
  font-weight: 800;
  text-transform: capitalize;
  font-size: 0.9rem;
}

footer div ul{
  margin-left: 0;
  padding-left: 0;
}

.other-info{
  padding-right: 200px;
}

.long-search{
  display: none;
}

.long-searchbar {
  display: none;
}

.icons-manu {
  display: none;
}
.modal{    
  z-index: 2000;
}




