@media only screen and (min-width: 666px) and (max-width: 900px) {

    .long-searchbar  {
      display: block;
      height: 46px;
      max-width: 100%;
      padding-left: 40px;
      padding-right: 10px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    
    .long-searchbar__input-area{
    
      height: inherit;
      max-width: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    
    }
  
    
    .long-searchbar__input {
      border: 1px solid #d8d8d8;
      border-right: none ;
      height: inherit;
      color: rgb(122, 122, 122);
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: 500;
      width: 100%;
    }
    
    .long-searchbar__input:focus{
      outline: none
    }
    
    
    
    .long-searchbar__icon  {
      height: 100%;
      width: 40px;
    
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #472b2b;
      color: white;
    }
    
    .long-searchbar__input{
      padding-left: 1rem;
      
    }
    .inline-manu__title{
      font-size: 0.8rem;
    }
  
    .main-manu > ul li:last-child{
      display: none;
    }
  }
  .modal{
    
    z-index: 2000;
  }
  @media only screen and (max-width: 900px) {
    .search-bar{
      display: none;
    }
    
    .component{
      min-width: 48%
    }
  }
  