@media only screen and (max-width: 665px) {
    .search-bar-input-area {
      display: none;
    }
    .main-manu {
      display: none;
    }
  
    .header__icons-manu{
      margin-top: var(--v-space-200);
      margin-bottom: var(--v-space-200);
    }

    .icons-manu {
      display: block;
      border-top: 1px solid silver;
      padding-top: var(--v-space-100);
    }
  
    .icons-manu ul {
      display: flex;
      flex-direction: row;
      justify-content:space-evenly;
    }
    .icons-manu ul li svg  {
      height: 30px;
      width: 30px;
      color: var(--bs-gray-600);
    }

    .icons-manu ul li svg:hover  {
      color: var(--bs-gray-900);
    }

    .icons-manu ul li:hover{
      cursor: pointer;
    }
  .section-left{
    display: none;
  }
  
/* ********************************************************** */

.icon-hum-manu{
  display: none;
  position: absolute;
  color: aliceblue;
  background-color: black;
  margin-top: var(--v-space-200);
  margin-left: -1rem;
  width: 100vw;
  height: 1000vh;
  left: 0;
  opacity: 0.9;
}

.icon-hum-manu ul {
  display: block;
  padding-left: 2rem;
  padding-top: 2rem;
}

.icon-hum-manu ul li{
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}
/* ************************************************************* */
  }